@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Merriweather&display=swap');

:root {
	--col-bg: #333333;
	--col-a1: #F2913D;
	--col-good: #A9C6D9;
	--col-bad: #F27979;
	--col-fg: #F2F2F2;
}

html, body {
	font-family: "Merriweather", serif;
	font-weight: 500;

	background: var(--col-bg);
	color: var(--col-fg);
}

button, label {
	user-select: none;
}

button {
	padding: 0.5em 1em;

	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: 1.2rem;

	outline: none;
	border: none;
	color: var(--col-bg);
	background: var(--col-a1);

	box-shadow: 0 0 0 0 var(--col-good);
	transition: box-shadow 0.1s ease-out;
}

button:hover, button:focus {
	box-shadow: 0 4px 0 var(--col-good);
}

button:active {
	box-shadow: 4px 4px 0 var(--col-good);
}

.main-content {
	max-width: 900px;
	margin: auto;
	margin-top: 3em;
}

.title {
	font-size: 2.5em;

	color: var(--col-a1);

	text-shadow: 0 0 0 none;
	transition: text-shadow 0.1s ease-out;
}

.title:hover {
	text-shadow: 0 2px 0 var(--col-good);
}

.words-area {
	margin: 2rem 0;
}

.text-input-container {
	display: flex;
	flex-direction: row;
}

.text-input {
	flex-grow: 1;

	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: 2rem;

	outline: none;
	border: none;
	background: none;

	padding: 0.2em 0.4em;

	color: var(--col-good);
	box-shadow: 0px 0px 0px 5px var(--col-good), 0px 0px 0px 0px var(--col-a1);

	transition: box-shadow 0.1s ease-out;
}

.text-input:hover {
	box-shadow: 0px 0px 0px 7px var(--col-good), 0px 0px 0px 0px var(--col-a1);
}

.text-input:focus {
	box-shadow: 0px 3px 0px 7px var(--col-good), 0px 12px 0px 7px var(--col-a1);
}

.scroller-words {
	display: flex;
  position: relative;
	flex-direction: row;
  transition: transform 0.2s linear;
  transform: translateX(0);
}

.scroller-word {
	font-size: 1.5em;
	padding: 0.2em 0.5em;
	color: var(--col-fg);
}

.scroller-word-prev {
  position: absolute;
  transform: translateX(-100%);
}

.scroller-word-bad {
	color: var(--col-bad);
}

.scroller-word-active {
	color: var(--col-bg);
	background: var(--col-fg);
}

.scroller-word-active-bad {
	background: var(--col-bad);
}
