@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
	--col-bg: #333333;
	--col-a1: #F2913D;
	--col-good: #A9C6D9;
	--col-bad: #F27979;
	--col-fg: #F2F2F2;
	--typing-margin: 10rem;
	--typing-font-size: 1.75rem;
}

html, body {
	font-family: "Merriweather", serif;
	font-weight: 500;

	background: var(--col-bg);
	color: var(--col-fg);
}

button, label {
	user-select: none;
}

button {
	padding: 0.5rem 1rem;

	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: 1.2rem;

	outline: none;
	border: none;
	color: var(--col-bg);
	background: var(--col-a1);

	box-shadow: 0 0 0 0 var(--col-good);
	transition: box-shadow 0.1s ease-out;
}

button:hover, button:focus {
	box-shadow: 0 4px 0 var(--col-good);
}

button:active {
	box-shadow: 4px 4px 0 var(--col-good);
}

.main-content {
	max-width: 900px;
	margin: auto;
	margin-top: 6rem;
}

.title {
	font-size: 2.5rem;

	color: var(--col-a1);

	text-shadow: 0 0 0 none;
	transition: text-shadow 0.1s ease-out;
}

.title:hover {
	text-shadow: 0 2px 0 var(--col-good);
}

.words-area {
	margin-top: 3rem;
  margin-bottom: 0.3rem;
  overflow: hidden;
}

.text-input-container {
	display: flex;
	flex-direction: row;
  margin-bottom: 2rem;
}

.text-input {
	flex-grow: 1;

	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: var(--typing-font-size);

	outline: none;
	border: none;
	background: none;

  margin: 0 var(--typing-margin);
  padding: 0.2rem 0.5rem;

  --color: var(--col-good);
	color: var(--color);
	box-shadow: 0 0 0 0 transparent;

	transition: all 0.1s ease-out;
}

.text-input:hover {
  color: var(--col-a1);
	box-shadow: 0 0 0 0.3rem var(--col-a1);
}

.text-input:focus {
  color: var(--color);
	box-shadow: 0 0 0 0.3rem var(--color);
}

.text-input-bad {
  --color: var(--col-bad);
}

.scroller-words {
  padding-left: var(--typing-margin);
  width: max-content;
	display: flex;
  position: relative;
	flex-direction: row;
  transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
  transform: translateX(0);
}

.scroller-words-prev {
	display: flex;
  position: absolute;
  transform: translateX(-100%);
}

.scroller-word {
  box-sizing: border-box;
  border: 0.3rem solid rgba(0,0,0,0);
  padding: 0.2rem 0.2rem;

  font-family: "Inconsolata", monospace;
  font-size: var(--typing-font-size);

  color: var(--col-fg);
  opacity: 0.8;
}

.scroller-word-bad {
	color: var(--col-bad);
}

.scroller-word-active {
  opacity: 1.0;
	border-bottom-color: var(--col-fg);
}

.scroller-word-active-bad {
  color: var(--col-bad);
  border-bottom-color: var(--col-bad);
}

.stats-container {
  display: flex;
  flex-direction: row;
}

.stats-item {
  padding: 0.1rem 0.5rem;
  margin-right: 1rem;

  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  
  color: var(--col-a1);
  border: 0.2rem solid transparent;
  border-bottom-color: var(--col-a1);
}

.stats-item>i {
  font-size: 1.5rem;
}

.barchart-bar {
	fill: var(--col-a1);
	fill-opacity: 0.5;
	stroke: var(--col-a1);
	stroke-opacity: 0.8;
	stroke-width: 0.002px;

	transition: all 0.2s ease-out;
}
.barchart-bar:hover {
	fill-opacity: 0.8;
	stroke-opacity: 1.0;
	transition: none;
}

.barchart-label {
	fill: var(--col-fg);
	font-family: "Inconsolata", monospace;
	font-size: 0.04px;
	opacity: 0;
	transform: translateY(-0.01px);
	transition: all 0.1s ease-out;
}
.barchart-label-visible {
	transform: translateY(0);
	opacity: 1;
}
.barchart-label-bg {
	stroke: var(--col-bg);
	stroke-width: 0.01px;
	stroke-opacity: 1;
}